body{ 
    background-color: #84D2F6;
    font-family: Arial;
}
header{
    position:sticky;
    top: 0;
    z-index: 1000;
    background-color: #84D2F6;
}
nav{
    background-color: #f0f3f5;
    padding: 10px;
    border-radius: 20px;
    border: 3px solid black;
    font-weight: bold;
    /* box-shadow: 0 0 10px; */
}
nav a{
    padding: 30px;
    align-items: center;
    color: black;
    text-decoration: none;
}
        
nav a:hover{
    color: blueviolet;
}
form{
    margin: auto;
    background-color:#59A5D8;
    border-radius: 20px;
    width: 500px;
    /* box-shadow: 0 0 10px; */
    margin-top: 60px;
}
            
 a{
    padding: 30px;
    align-items: center;
    color: black;
    text-decoration: none;
}
a:hover {
    color: yellow;
}
input {
    font-size: 20px;
    padding: 10px;
}
table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background-color: #f9f9f9;
}
th {
    background-color: #133C55;
    color: white;
    padding: 12px;
    text-align: center;
}
td {
    padding: 10px;
    text-align: center;
}
.box{
    height: 200px;
    width: 200px;
    /* border: 3px solid rgb(12, 12, 14); */
    padding: 20px;
    margin: 60px;
    margin-right: 50px;
    display: inline-block;
    border-radius: 20px;
    background-color:#59A5D8;
    vertical-align: top;
    box-shadow: 0 0 10px;
}
.profile{
     
            
    background-color:#59A5D8;
    border-radius: 5px;
    width: auto;
            
            
        
}

.recipt{
    height: auto;
    width: auto;
    border: 3px solid rgb(12, 12, 14);
    padding: 20px;
    margin: 60px;
    margin-right: 50px;
    display: inline-block;
    border-radius: 20px;
    background-color:#59A5D8;
    vertical-align: top;
}


  
        
        

        
        
                  
